## 결측치 데이타 처리

- 결측치는 데이터 분석 결과에 엄청난 영향을 미치기에 존재여부 확인부터 중요

- None를 포함하며, 결측값은 ‘NaN’로 표시


- 결측값 확인 메소드 
    * isnull()
    * notnull()
    
    
- 결측값 처리 	
    (1) 제거 : dropna()      	
    (2) 대치 : fillna()

In [3]:
import pandas as pd
import numpy as np 

df = pd.DataFrame(np.ones((4,4)),index=['A','B','C','D']) 
df

     0    1    2    3
A  1.0  1.0  1.0  1.0
B  1.0  1.0  1.0  1.0
C  1.0  1.0  1.0  1.0
D  1.0  1.0  1.0  1.0

In [4]:
# 결측치 만들기 ( NaN, nan)
#df.loc['B'][1] = np.nan
#df.loc['B', 1] = np.nan
#df.iloc[0][1] = np.nan
df.iloc[0,1]=np.nan
df.loc[1:,2] = np.nan
df

     0    1    2    3
A  1.0  NaN  1.0  1.0
B  1.0  1.0  NaN  1.0
C  1.0  1.0  NaN  1.0
D  1.0  1.0  NaN  1.0

In [5]:
# 결측치 보기
df.isnull()
pd.isnull(df) # 결측치만 True

df.notnull() #결측치가 아니면 True

      0      1      2     3
A  True  False   True  True
B  True   True  False  True
C  True   True  False  True
D  True   True  False  True

In [6]:
# 누적합을 구할 때
df.isnull().sum() # sum을 통해 결측치 셀것
# df.isnull().count() #그냥 다 셈

0    0
1    1
2    3
3    0
dtype: int64

In [7]:
df.dropna() #결측치가 하나만 있으면 그 열을 제거

Empty DataFrame
Columns: [0, 1, 2, 3]
Index: []

In [8]:
df.fillna(0) #결측치에 0을 대입

     0    1    2    3
A  1.0  0.0  1.0  1.0
B  1.0  1.0  0.0  1.0
C  1.0  1.0  0.0  1.0
D  1.0  1.0  0.0  1.0

In [9]:
df.fillna({1:'NULL', 2:-1000}) #컬럼별 결측치 처리하는 방법

     0     1       2    3
A  1.0  NULL     1.0  1.0
B  1.0     1 -1000.0  1.0
C  1.0     1 -1000.0  1.0
D  1.0     1 -1000.0  1.0